body{
    margin:0;
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
}

.container{
    text-align:center;
    padding:80px 20px;
}

h1{
    font-size:48px;
}

.tagline{
    font-size:24px;
    color:#38bdf8;
}

.description{
    max-width:700px;
    margin:auto;
    font-size:20px;
    line-height:1.8;
}

button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:20px;
    cursor:pointer;
}
